


#movie-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    padding: 1%; 

}


.star {
    padding-right: 2%;
}

body
{
    background-color: dimgray;
}

.movie-title{
    color: white;
    max-width: 342px;
}

.movie-votes
{
    color: white;
}

h1{
    color: white;
    text-align: center;
    
}

img{
    width: 342px;
    height: 513px;
    border-radius: 5%;
}

/* div{
    max-width: 342px;
} */


#buttonStyle
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-input
{
    margin-left: 2%;
}

#load-more-movies-btn
{
    font-size: 30px;
    background-color: rgb(61, 156, 215);
    border-radius: 7px;
    border:none;
    

}

label
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}