


.movie {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    padding: 1%;
}


.star {
    padding-right: 2%;
}

body
{
    background-color: dimgray;
}

.name,.rating
{
    color: white;
}